
/*Oakwood ltd Framework v3.0 custom.css */

/* strega site specific */

/* Overides */

root: {

}


@media (max-width: 768px) {
    .site-title {
        font-size: 2rem;
    }

    .header-center img {
        width: 100px;
    }
}
